@import "../../styles/_variables";

.Section {
  .Col {
    padding-left: 0 !important;
    padding-right: 0 !important;
    cursor: pointer;

    :hover + .Overlay {
      background-color: rgba(0, 0, 0, 0.25);
    }
  }

  .InsideWrapper {
    position: relative;
    padding-top: 56.25%;
    min-height: 450px;

    .Inside {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h3 {
        text-align: center;
        padding-top: 30px;
        margin-bottom: 50px;
        color: $white;
        position: relative;
        z-index: 2;
      }

      .ReadMore {
        text-transform: uppercase;
        font-size: 15px;
        line-height: 20px;
        font-weight: 600;
        position: relative;
        z-index: 2;
        text-decoration: underline;
        color: $white;
        letter-spacing: 0;

        &:hover {
          color: $red;
        }
      }
    }
  }

  .Overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.45);
    transition: 0.3s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
}

@media (max-width: 767px) {
  .Section {
    h3 {
      font-size: 22px !important;
      line-height: 30px !important;
    }
    .ReadMore {
      font-size: 12px !important;
      line-height: 17px !important;
    }
    .InsideWrapper {
      min-height: 235px;
    }
  }
}
