@import "../../styles/_variables";

.Section {
  padding-top: 120px;
  padding-bottom: 50px;

  .Title {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      font-family: "Playfair Display", serif !important;
      font-size: 32px !important;
      line-height: 43px !important;
      font-weight: 700 !important;
      letter-spacing: 0 !important;
      text-align: center !important;
      margin-bottom: 80px !important;
      text-transform: none !important;
    }
  }

  .Row {
    padding-left: 30px;
    padding-right: 30px;
  }

  .Container {
    // max-width: 1380px;
    max-width: 1712px;
  }

  .ContentWrapper {
    h5 {
      font-weight: 700 !important;
      font-family: "Playfair Display", serif !important;
      text-align: center;
      text-transform: capitalize;
      font-size: 18px;
      letter-spacing: 0px;
      color: $black;
      margin-top: 28px;

      a {
        color: $black;
      }
    }
  }
}

@media (max-width: 767px) {
  .Section {
    padding-top: 80px;
    padding-bottom: 30px;

    .Row {
      padding-left: 0px;
      padding-right: 0px;
    }

    .SwiperSide {
      padding-left: 0;
      padding-right: 0;

      .Gimg {
        position: absolute !important;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .Overlay {
        background-color: #00000044;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 8px;
        margin: auto;
        height: 100%;
        text-transform: capitalize;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1
      }

      .ContentWrapper {
        position: relative;
        z-index: 2;

        h5 {
          color: $white !important;
         
          a {
            color: $white !important;
            
          }
        }
      }
    }
  }
}
