@import "../../styles/_variables";

.Section {
  padding-top: 120px;
  padding-bottom: 80px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: $black;
  color: $white;

  .Container {
    max-width: 1380px;
  }

  .Title {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      font-family: "Playfair Display", serif !important;
      font-size: 32px !important;
      line-height: 43px !important;
      font-weight: 700 !important;
      letter-spacing: 0 !important;
      margin-bottom: 110px !important;
      text-align: center !important;
      margin-top: 0px !important;
      text-transform: none !important;
    }
  }

  .InnerWrapper {
    ul {
      padding-left: 10%;
      columns: 2;
    }
  }
}

@media (max-width: 767px) {
  .Section {
    padding-top: 80px;
    padding-bottom: 44px;
    padding-left: 0px;
    padding-right: 0px;

    h3 {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 40px;
    }

    .Title {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        font-size: 24px !important;
        line-height: 36px !important;
        margin-bottom: 40px !important;
      }
    }

    .ListSide {
      padding-top: 25px;
    }

    .InnerWrapper {
      ul {
        padding-left: 0 !important;

        columns: 1;
      }
    }
  }
}
