.Section {
  padding-top: 50px;
  padding-bottom: 40px;
  padding-left: 25px;
  padding-right: 25px;


  h2 {
    font-size: 32px !important;
    line-height: 43px !important;

    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 15px;
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    z-index: 2;

  }

  .Container {
    max-width: 1712px;
  }

  .SwiperSlide {
    display: block;
    position: relative;

    .Gimg {
      min-height: 450px;
    }
  }

  .ContentWrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: hsla(0, 0%, 0%, 0.447) 0% 0% no-repeat padding-box;
    transition: 0.3s;
    a {
      color: #ffffff;
      position: relative;
      z-index: 3;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 15px;
      padding-right: 15px;

      width: 100%;
      height: 100%;
    }

    &:hover {
      background: hsla(0, 0%, 0%, 0.25) 0% 0% no-repeat padding-box;
    }
  }
}

@media (max-width: 767px) {
  .Section {
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;

    h2 {
      font-size: 28px !important;
      line-height: 40px !important;
    }

    .SwiperSide {
      padding-left: 0;
      padding-right: 0;
    }

    .SwiperSlide {
      max-width: 80%;

      .Gimg {
        min-height: 337px;
        // min-height: unset !important;
      }
    }

    h3 {
      font-size: 28px;
    }
  }
}
