@import "../../../styles/_variables";

.MainHero {
  height: calc(100vh - 53px);
  background-color: #161616;
  color: #ffffff;

  .Title {
    text-align: center !important;

    h1,
    h2,
    span {
      display: inline;
      font-family: Playfair Display, serif;
      font-size: 46px !important;
      line-height: 65px;
      font-weight: 700;
      text-transform: capitalize;
      text-align: center !important;
      letter-spacing: 0;
    }
  }

  .Subtitle {
    font-family: Playfair Display, serif;
    text-align: center;
    letter-spacing: 0;
    font-size: 32px;
    line-height: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    font-weight: 400;
    text-transform: uppercase;

    p {
      margin-bottom: 0;
    }
  }

  .container {
    height: 100%;

    .row {
      height: 100%;
      align-items: center;

      .imgSide {
        height: 100%;
        @media screen and (min-width: 768px) {
          max-width: 54.65%;
        }
      }

      .rightSide {
        @media screen and (min-width: 768px) {
          margin-top: 99px;
          max-width: 45.35%;
        }
      }

      .rightSideWrapper {
        max-width: 653px;
        margin-right: auto;
        margin-left: 45px;

        .buttonsWrapper {
          a {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 1599px) {
  .MainHero {
    height: calc(100vh - 48px);

    .Title {
      h1,
      h2,
      span {
        font-size: 38px !important;
        line-height: 60px !important;
      }
    }
  }
  .rightSideWrapper {
    margin-left: 0px !important;

    .Subtitle {
      padding-top: 40px !important;
      padding-bottom: 40px !important;
    }
  }

  .buttonsWrapper {
    a {
      max-width: 260px;
      height: 60px;
    }
  }
}

@media (max-width: 767px) {
  .rightSide {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4%;
    text-align: center;
    color: $white;
  }

  .buttonsWrapper {
    a:nth-child(2) {
      background-color: $white;
      border-color: $white;
    }
  }

  .MainHero {
    .Title {
      margin-bottom: 12% !important;

      h1,
      h2,
      span {
        font-size: 35px !important;
        line-height: 49px !important;
      }
    }
    .Subtitle {
      font-size: 27px;
      line-height: 36px;
      color: $black;
      background-color: $white;
      padding: 13px 0 !important;
      margin-bottom: 18%;
      text-transform: uppercase;
      font-weight: 400;
    }

    .buttonsWrapper {
      a {
        max-width: 296px !important;
        height: 50px !important;
        font-size: 14px !important;
        margin-bottom: 50px !important;

      }
    }
  }
}
