@import "../../../styles/_variables";

.MainHero {
  height: calc(100vh - 67px);

  .container {
    height: 100%;

    .row {
      height: 100%;
      align-items: center;

      .imgSide {
        height: 100%;
        @media screen and (min-width: 768px) {
          max-width: 54.65%;
        }
      }

      .rightSide {
        @media screen and (min-width: 768px) {
          margin-top: 99px;
          max-width: 45.35%;
        }
      }

      .rightSideWrapper {
        max-width: 653px;
        margin-right: auto;
        margin-left: 45px;

        h3 {
          padding-top: 60px;
          padding-bottom: 60px;
        }

        .buttonsWrapper {
          a {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 1599px) {
  .MainHero {
    height: calc(100vh - 60px);
  }
  .rightSideWrapper {
    margin-left: 0px !important;

    h3 {
      padding-top: 40px !important;
      padding-bottom: 40px !important;
    }
  }

  .buttonsWrapper {
    a {
      max-width: 260px;
      height: 60px;
    }
  }
}

@media (max-width: 767px) {
  .rightSide {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4%;
    text-align: center;
    color: $white;
  }

  .buttonsWrapper {
    a:nth-child(2) {
      background-color: $white;
      border-color: $white;
    }
  }

  .MainHero {
    h1 {
      font-size: 35px;
      line-height: 49px;
      margin-bottom: 12%;
    }

    h3 {
      font-size: 27px;
      line-height: 36px;
      color: $black;
      background-color: $white;
      padding: 13px 0 !important;
      margin-bottom: 18%;
    }

    .buttonsWrapper {
      a {
        max-width: 296px !important;
        height: 50px !important;
        font-size: 14px !important;
      }
    }
  }
}
