@import "../../styles/_variables";

#BookingSection_location {
  .header_wrapper {
    background-color: #e8e8e8;
    padding: 1.25rem 0rem;
    position: relative;
    h1 {
      font-family: Playfair Display, Bold;
      text-transform: capitalize;
    }
  }
  .header_wrapper:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 98%;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-left: 22px solid #e8e8e8;
    border-bottom: 13px solid transparent;
    transform: rotate(90deg);
  }
}
#BookingForm_location {
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .ErrorMessage {
    //margin: 0;
    // position: absolute;
    //top: -15px;
    color: $red !important;
    // right: 0;
    font-size: 15px;
    text-align: left;
  }
  .FormStep1Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 4rem;
  }
  //   .alcohol-test-field {
  //     border: 1px solid #3b4856;
  //     padding: 1.375rem 0.75rem;

  //     width: 300px;
  //     ::placeholder {
  //       font-family: "Playfair Display";
  //       font-size: 16px;
  //       font-weight: 400;
  //       line-height: 30px;
  //       letter-spacing: 0.8px;
  //       color: #000000;
  //     }
  //   }
  .para {
    font-size: 15px;
    color: #000;
    font-family: Open Sans, Regular;
    margin-bottom: 0.25rem;
  }
  .headerWrapper {
    font-size: 20px;
    font-family: Playfair Display, bold;
    margin-bottom: 2.65rem;
    text-transform: capitalize;
  }
  .formFieldWrapper {
    display: flex;
    justify-content: space-around;

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: center;
    }

    .form-control {
      width: 250px;
      height: 55px;
      border-radius: 0px;
      border: 1px solid #a0a0a0;
    }
  }
  .formField_textWrapper {
    display: flex;
    justify-content: space-around;
    @media (max-width: 600px) {
      flex-direction: column;
      align-items: center;
    }
    .form-group {
      width: 40%;
      margin-bottom: 1rem;
      @media (max-width: 600px) {
        width: 100%;
      }
    }
    .form-control {
      border: none;
      border-bottom: 1px solid #e8e8e8;
      width: 100%;
      height: 55px;
      border-radius: 0px;
      @media (max-width: 600px) {
        width: 100%;
      }
      &:focus {
        box-shadow: none;
      }
    }
  }

  .LocationBookingWrapper {
    padding: 5%;
  }
}
