@import "../../styles/_variables";

.Section {
  h2 {
    font-size: 42px;
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .ContainerInfo {
    max-width: 1200px;

    .Col {
      margin-bottom: 20px;
    }

    .InfoBox {
      box-shadow: 0px 10px 20px #00000012;
      transition: 0.2s ease-in-out;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 20px 40px 20px 20px;
    }

    h2 {
      padding-top: 0;
      padding-bottom: 0;
      text-align: left;
      font-size: 26px !important;
    }
  }

  .BoxesWrapper {
    margin-bottom: 40px;
  }
  .Content {
    max-width: 800px;
    margin: 0 auto 40px auto;
    padding: 0 15px;
  }
}

@media(max-width: 767px) {
  .Section {
    .ContainerInfo {
      h2 {
        font-size: 22px !important;
      }
    }
  }
}
