@import "../../styles/_variables";

.Section {
  h2 {
    font-size: 42px;
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .BoxesWrapper {
    margin-bottom: 40px;
  }
  .Content {
    max-width: 800px;
    margin: 0 auto 40px auto;
    padding: 0 15px;
  }
}
