$red: #9C1A3B;
$red-dark: #7B132D;
$green: rgb(19, 123, 54);

$black: #000000;

$white: #FFFFFF;

$grey: #89898c;
$grey-mid: #E8E8E8;
$grey-light: #c6c6c6;

$globalTransition: .4s;
$menuPadding: 53px;

