@import "_variables.scss";

html,
body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: $black;
  line-height: 24px;
}

h1 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 46px;
  line-height: 65px;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0;

  @media screen and (min-width: 768px) {
    font-size: 46px;
    line-height: 65px;
  }
}

h2 {
  font-family: "Playfair Display", sans-serif;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0;
  font-weight: 700;

  @media screen and (min-width: 768px) {
    font-size: 46px;
    line-height: 65px;
  }
}

h3 {
  font-family: "Playfair Display", sans-serif;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0;

  @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: 48px;
  }
}
main {
  padding-top: $menuPadding;
}
.nav-link {
  color: $white;
  font-family: "Playfair Display", sans-serif;
  text-transform: capitalize;
}

.btn {
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 296px;
  height: 66px;
  text-align: center;
  margin: auto;
  width: 100%;
  font-size: 16px !important;
  line-height: 22px;
  letter-spacing: 0.96px;
  font-weight: 600;
}

.btn-red {
  background-color: $red;
  color: $white;
  text-transform: uppercase;
  opacity: 1;
  border: solid 2px $red;

  &:hover {
    background-color: transparent;
    color: $red;
  }
}

.btn-black-transparent {
  background-color: transparent;
  color: $black;
  text-transform: uppercase;
  border: solid 2px $black;
}

.btn-white-transparent {
  background-color: transparent;
  color: $white;
  text-transform: uppercase;
  border: solid 2px $white;

  &:hover {
    background-color: $white;
    color: $black;
  }
}

.btn-small {
  text-align: left;
  font-size: 16px!important;
  line-height: 22px!important;
  letter-spacing: 0.96px;
  max-width: 207px;
  height: 56px;
}

// dropdown menu adjustment
.dropdown-menu {
  margin-top: -1px;
  border-radius: 0px;
}
.nav-item:hover .dropdown-menu {
  display: block !important;
}
.dropdown-toggle:after {
  display: none!important;
}
// 

// swiper buttons
.swiper-button-prev,
.swiper-button-next {
  width: 43px;
  height: 61px;
  background: rgba(255, 255, 255, 0.21) 0% 0% no-repeat padding-box;
}

.swiper-button-prev:after {
  content: "";
  background-image: url(../images/left.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 16px;
  height: 35px;
}

.swiper-button-next:after {
  content: "";
  background-image: url(../images/right.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 16px;
  height: 35px;
}

.swiper-button-disabled {
  visibility: hidden;
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .swiper-pagination {
    display: none;
  }
}
// 