@import "_variables.scss";

html,
body {
  // font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: $black;
  line-height: 24px;
  // line-height: 1.7em;
}

h1 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 65px;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0;

  @media screen and (min-width: 768px) {
    font-size: 46px;
    line-height: 65px;
  }
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 1.2;

  @media (min-width: 768px) {
    font-size: 46px !important;
    line-height: 54px;
  }
}

.ref {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px !important;
  height: 42px !important;
  box-shadow: none !important;
  border: none !important;
  background: transparent !important;
  padding-right: 0px !important;
  transition: transform 0.3s;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0;
  font-weight: 700;

  @media screen and (min-width: 768px) {
    font-size: 32px;
    line-height: 43px;
  }
}

h4 {
  font-family: "Playfair Display", sans-serif;
  font-size: 18px;
  // line-height: 48px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0;
  font-weight: 700;
}

strong {
  font-weight: 600;
}

//wp class
.tile-address {
  display: block;
  padding-bottom: 0;
}
// wp class
.treatments-offered {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 460px;
  margin: 0 auto;
  padding-left: 0;
  align-items: center;

  li {
    padding-right: 10px;
  }
}
// wp class
.btn-from-wp {
  @media (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    max-height: 50px;
  }
}

// heading, quite bigger then regular banner paragraph. mainly on inner banner.
.heading-medium {
  line-height: 1.7 !important;
  font-size: 28px !important;
  text-transform: uppercase !important;
  margin-bottom: 40px !important;

  @media (max-width: 767px) {
    font-size: 24px !important;
    line-height: 1.4 !important;
  }
}

//heading big wp class
.heading-big {
  line-height: 1.7 !important;
  font-size: 46px !important;
  text-transform: uppercase !important;
  margin-bottom: 40px !important;
  font-weight: 700;

  @media (max-width: 767px) {
    font-size: 32px !important;
    line-height: 1.4 !important;
  }
}

// off price mainly on inner banner.
.off {
  font-size: 30px;
  font-weight: 700;
}

// page-link is a class for wordpress side html.mostly used in textfullwidth component
.inners-link {
  text-decoration: underline;
  font-size: 22px;
  line-height: 35px;
  letter-spacing: 0;
  transition: 0.3s;
  font-weight: 700;
}

// more treatments page links read more btn
.more-t-btn {
  max-width: 200px !important;
  height: 44px !important;
  font-size: 14px !important;
}

.half-wrapper {
  display: flex;
  flex-wrap: wrap;
}

// first-half
.first-half,
.second-half {
  width: 50%;

  ul {
    columns: 1 !important;
  }

  @media (max-width: 767px) {
    width: 100%;

    ul {
      margin-top: 0 !important;
      margin-bottom: 0 !important;

      li {
        margin-top: 0 !important;
        margin-bottom: 20px !important;
      }
    }
  }
}

.heading-list {
  font-size: 17px !important;
  text-align: left !important;
  font-family: "Roboto", sans-serif;
  margin-bottom: 15px;

  @media (max-width: 767px) {
    font-size: 14px !important;
  }
}

a {
  transition: 0.3s;
  color: $red;

  &:hover {
    color: $red-dark;
  }
}

.hidden {
  display: none;
}

.gatsby-image-background {
  position: absolute !important;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.menu-image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 202px;
}

@media (min-width: 768px) {
  .show-mobile {
    display: none;
  }
}

.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.dot {
  padding-left: 20px;
  padding-right: 8px;
}

.transition {
  transition: 0.3s ease-in-out;
}

a:hover {
  text-decoration: none;
}

main {
  padding-top: $menuPadding;
}

.link-more {
  display: none;
}

.biggerSide {
  @media (min-width: 768px) {
    max-width: 54.65%;
    flex: 0 0 54.65%;
  }
}

.smallerSide {
  @media (min-width: 768px) {
    max-width: 45.35%;
    flex: 0 0 45.35%;
  }
}

.biggerSide2 {
  @media (min-width: 768px) {
    max-width: 58%;
    flex: 0 0 58%;
  }
}

.smallerSide2 {
  @media (min-width: 768px) {
    max-width: 42%;
    flex: 0 0 42%;
  }
}

.fluid-width-video-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

// GOOGLE MAPS ADDITIONAL STYLES START
.gm-ui-hover-effect {
  display: none !important;
}
.gm-style-iw-t {
  bottom: 53px !important;

  &::after {
    display: none;
  }
}
.gm-style-iw-c {
  min-width: 280px !important;
  box-shadow: 0px 10px 20px #00000029 !important;
  top: 130px !important;
  max-height: unset !important;
}
.gm-style-iw-d {
  max-height: unset !important;
  min-width: 100% !important;
}

// - infos
.email-c {
  &:before {
    background-image: url(../images/awesome-phone-alt.svg) !important;
    min-width: 18px !important;
    min-height: 18px !important;
  }
}

.phone-c {
  &:before {
    background-image: url(../images/material-email.svg) !important;
    min-width: 18px !important;
    min-height: 14px !important;
  }
}
//

@media (max-width: 767px) {
  .gm-style-iw-c {
    top: 330px !important;
    max-height: unset !important;
  }
}

// GOOGLE MAPS ADDITIONAL STYLES END

.entry-content {
  img.alignright {
    display: inline;
    float: right;
    margin-left: 15px;
  }

  img.alignleft {
    display: inline;
    float: left;
    margin-right: 15px;
  }

  ul {
    padding-left: 20px;
  }
  ol {
    padding-left: 30px;
  }
}

// global list stype
.listType-normal {
  padding-left: 20px;
  margin-top: 75px;
  margin-bottom: 50px;
  padding-right: 14%;

  li {
    padding-bottom: 30px;
    line-height: 24px;
  }
}
//

.nav-link {
  color: $white;
  // font-family: "Playfair Display", sans-serif;
  text-transform: capitalize;
}

.btn {
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 296px;
  height: 66px;
  text-align: center;
  margin: auto;
  width: 100%;
  font-size: 16px !important;
  line-height: 22px;
  letter-spacing: 0.96px;
  font-weight: 600;
}

.btn-red {
  background-color: $red;
  color: $white;
  text-transform: uppercase;
  opacity: 1;
  border: solid 2px $red;

  &:hover,
  &:active,
  &:focus {
    background-color: $red-dark !important;
    border-color: $red-dark !important;
    color: $white !important;
  }
}

.btn-black-transparent {
  background-color: transparent;
  color: $black;
  text-transform: uppercase;
  border: solid 2px $black;

  &:hover {
    background-color: $red;
    border-color: $red;
    color: $white !important;
  }
}

.btn-white-transparent {
  background-color: transparent;
  color: $white;
  text-transform: uppercase;
  border: solid 2px $white;

  &:hover {
    background-color: $white;
    color: $black;
  }
}

.btn-small {
  text-align: left;
  font-size: 16px !important;
  line-height: 22px !important;
  letter-spacing: 0.96px;
  max-width: 207px;
  height: 56px;
}
.btn-mid {
  height: 60px;
  max-width: 266px;
  font-size: 15px !important;
  line-height: 20px !important;
}

// dropdown menu adjustment
.dropdown-toggle:after {
  display: none !important;
}
.dropdown-toggle:after {
  width: 40px;
  height: 40px;
  margin-right: -50px;
}
.dropdown-menu {
  border-radius: 0 !important;
  border: none;
}
//

// category dropdown
.category-dropdown.show {
  button span {
    transform: rotate(90deg);
  }
}
//

// swiper start
.swiper-button-prev,
.swiper-button-next {
  width: 43px;
  height: 61px;
  background: rgba(255, 255, 255, 0.21) 0% 0% no-repeat padding-box;
}

.swiper-button-prev:after {
  content: "";
  background-image: url(../images/left.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 16px;
  height: 35px;
}

.swiper-button-next:after {
  content: "";
  background-image: url(../images/right.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 16px;
  height: 35px;
}

.swiper-pagination-bullet-active {
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1 !important;
}

.swiper-pagination-bullet {
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 0.52;
  width: 6px;
  height: 6px;
  margin: 0 8px !important;
}

// SPECIAL SWIPER
.special-swiper {
  .swiper-button-disabled {
    visibility: hidden;
    opacity: 0;
  }
}

// BEFORE AFTER SWIPER
.before-after-swiper {
  .swiper-pagination {
    bottom: 0 !important;
  }
  .swiper-pagination-bullet-active {
    background: #e8e8e8 0% 0% no-repeat padding-box;
  }

  .swiper-pagination-bullet {
    background: #e8e8e8 0% 0% no-repeat padding-box;
    min-width: 8px;
    min-height: 8px;
    outline: none;
  }

  .swiper-container {
    position: initial;
    padding-bottom: 60px;
  }

  .swiper-button-prev {
    background: transparent !important;
    outline: none;
    left: 0;
  }
  .swiper-button-next {
    background: transparent !important;
    outline: none;
    right: 0;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    display: none;
  }
  svg {
    width: 17px;
    height: 35px;
  }
}

// LINK SWIPER
.link-swiper {
  .swiper-pagination {
    bottom: 0 !important;
  }
  .swiper-pagination-bullet-active {
    background: #e8e8e8 0% 0% no-repeat padding-box;
  }

  .swiper-pagination-bullet {
    background: #e8e8e8 0% 0% no-repeat padding-box;
    min-width: 8px;
    min-height: 8px;
    outline: none;
  }

  .swiper-container {
    // position: initial;
    padding-bottom: 40px;
  }

  // .swiper-button-prev {
  //   background: #ffffff74 0% 0% no-repeat padding-box;
  //   outline: none;
  // }
  // .swiper-button-next {
  //   background: #ffffff74 0% 0% no-repeat padding-box;
  //   outline: none;
  // }

  svg {
    width: 17px;
    height: 35px;
  }
}

// SERVICES SWIPER
.services-swiper {
  .swiper-pagination {
    bottom: 0 !important;
  }
  .swiper-pagination-bullet-active {
    background: #000000 0% 0% no-repeat padding-box !important;
  }

  .swiper-pagination-bullet {
    background: #e8e8e8 0% 0% no-repeat padding-box;
    min-width: 8px;
    min-height: 8px;
    outline: none;
  }

  .swiper-container {
    padding-bottom: 40px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 35%;
  }
}

@media (max-width: 767px) {
  .services-swiper {
    .swiper-container {
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        height: calc((100% - 30px) / 2);

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
    }
  }
}
//

// TEAM SWIPER
.team-swiper {
  .swiper-container {
    width: 100%;
    height: 100%;

    .swiper-slide {
      .team-slider-text {
        > div {
          transition: 0s;
        }
      }
    }

    .swiper-slide-active {
      width: 50% !important;
      .team-slider-text {
        background: none;
        > div {
          opacity: 1;
          transition: 1.2s;
        }
      }
    }

    .swiper-slide-prev,
    .swiper-slide-next {
      width: 25% !important;
    }

    .swiper-button-prev,
    .swiper-button-next {
      width: 25%;
      left: 0;
      top: 0;
      bottom: 0;
      height: 100%;
      outline: none;
      z-index: 3333;
      background: transparent;

      @media (min-width: 768px) {
        svg {
          display: none;
        }
      }
    }
    .swiper-button-next {
      left: auto;
      right: 0;
    }

    .swiper-pagination {
      left: auto;
      right: 10%;
      bottom: 5%;
      text-align: right;

      font-size: 24px;
      font-family: "Playfair Display", sans-serif;
      letter-spacing: 0px;
      color: #ffffff;
      text-transform: capitalize;
    }
  }
}

@media (max-width: 768px) {
  .team-swiper {
    .swiper-container {
      padding-bottom: 40px;

      .swiper-slide-prev,
      .swiper-slide-next,
      .swiper-slide-active {
        width: 100% !important;
      }

      .swiper-button-prev,
      .swiper-button-next {
        display: flex !important;
        width: 43px;
        height: 61px;
        top: unset;
        bottom: -20px !important;

        svg {
          width: 16px;
          height: 19px;
        }

        &:before,
        &:after {
          display: none !important;
        }
      }
      .swiper-pagination {
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        color: $black;
        font-size: 18px;
      }
    }
  }
}

// VIDEO SWIPER
.video-swiper {
  .swiper-button-prev:after,
  .swiper-button-next:after {
    display: none;
  }
  svg {
    width: 17px;
    height: 35px;
  }

  .swiper-button-prev {
    background: transparent !important;
    outline: none;
    left: 20px;
  }
  .swiper-button-next {
    display: none;
    background: transparent !important;
    outline: none;
    right: 0;
  }
  .swiper-scrollbar-drag {
    border-radius: 0px;
    background: $white;
    height: 6px;
    top: -4px;
    cursor: pointer;
  }
  .swiper-scrollbar {
    bottom: 0;
    height: 2px;
    background: #ffffff98;
    width: 92%;
    right: 0;
    left: 8%;
  }
  .swiper-container {
    position: initial;
    margin-bottom: 35px;
  }
}

.reviews-swiper {
  .swiper-container {
    padding-bottom: 60px !important;
  }
  .swiper-pagination {
    bottom: 0px !important;
  }
  .swiper-pagination-bullet-active {
    background: #e8e8e8 0% 0% no-repeat padding-box;
  }

  .swiper-pagination-bullet {
    background: #e8e8e8 0% 0% no-repeat padding-box;
    min-width: 8px;
    min-height: 8px;
    outline: none;
  }
}

// CLINICS SWIPER
.clinics-swiper {
  .swiper-pagination {
    bottom: 0 !important;
  }
  .swiper-pagination-bullet-active {
    background: #e8e8e8 0% 0% no-repeat padding-box;
  }

  .swiper-pagination-bullet {
    background: #e8e8e8 0% 0% no-repeat padding-box;
    min-width: 8px;
    min-height: 8px;
    outline: none;
  }

  .swiper-container {
    position: initial;
    padding-bottom: 60px;
  }

  .swiper-button-prev {
    background: #ffffff74 !important;
    outline: none;
    left: 20px;
  }
  .swiper-button-next {
    background: #ffffff74 !important;
    outline: none;
    right: 20px;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    display: none;
  }
  svg {
    width: 17px;
    height: 35px;
  }
}
@media (min-width: 768px) {
  .clinics-swiper {
    .swiper-pagination {
      display: none;
    }

    .swiper-container {
      padding-bottom: 0px;
    }
  }
}

.navbar-collapse {
  transition: transform 0.3s ease-in-out !important;
}
.navbar-collapse.isOpen {
  transform: translateX(0) !important;
}

.navbar-toggler.collapsed {
  div {
    &:first-child {
      transform: rotate(0);
    }

    &:nth-child(2) {
      opacity: 1;
      transform: translateX(0);
    }

    &:nth-child(3) {
      transform: rotate(0);
    }
  }
}

// red link in text
.text {
  h3 {
    font-size: 22px;
    margin-bottom: 10px !important;
  }
  img {
    max-width: 100%;
    height: auto;
  }

  p {
    a {
      color: $red;
      // text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

// tabs left  start
.tabs-arrow path {
  fill: $grey;
}
.nav-pills .nav-link.active {
  color: $black !important;
  background-color: $grey-mid !important;
  border-radius: 0 !important;

  .tabs-arrow path {
    fill: $black;
  }
}
// tabs left end

// specials tabs
.specials-tabs {
  .active {
    // font-weight: 700 !important;
    border-color: $red !important;
  }
}

@media (min-width: 768px) {
  .special-swiper {
    .swiper-pagination {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .swiper-container {
    padding-bottom: 50px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
  .before-after-swiper {
    .swiper-pagination-bullet {
      background: $grey-light;
      min-width: 6px;
      min-height: 6px;
      outline: none;
    }
    .swiper-container {
      padding-bottom: 30px;
    }
  }
  .video-swiper {
    .swiper-container {
      padding-bottom: 0;
    }

    .swiper-scrollbar {
      left: 4%;
      width: 96%;
    }
  }
}
// swiper END

// globals
@media (min-width: 992px) {
  ::-webkit-scrollbar {
    width: 0.46875rem;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #2e2e2e;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .dropdown-menu.show {
    display: flex;
  }
}
@media (max-width: 1599px) {
  h1 {
    font-size: 38px;
    line-height: 60px;
  }
  h3 {
    font-size: 32px;
    line-height: 40px;
  }
  .listType-normal {
    margin-top: 45px;
    margin-bottom: 30px;
    padding-right: 15px;
  }
}

@media (max-width: 1200px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  .dropdown-menu.show {
    border-top: solid 1px #fff;
    margin-right: 8px;
    margin-bottom: 15px;
  }

  .dropdown.show .dropdown-arrow .firstArrow {
    transform: rotate(270deg) !important;
  }

  .dropdownCustom.show .dropdown-arrow svg {
    transform: rotate(270deg) !important;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  h2 {
    font-size: 35px !important;
    line-height: 1.4 !important;
  }

  .listType-normal {
    padding-right: 0px;
  }
  .btn-mid {
    height: 50px;
    max-width: 256px;
    font-size: 14px !important;
    line-height: 19px !important;
  }

  //blog stuff
  .alignright,
  .alignleft {
    width: 100%;
    max-height: 400px;
    margin-bottom: 10px;
  }
}

//
.swiper-button-next.swiper-button-disabled {
  pointer-events: auto;
}
.swiper-button-prev.swiper-button-disabled {
  pointer-events: auto;
}

@media (max-width: 767px) {
  .siq_bR {
    bottom: 65px !important;
  }
}

.instagram-media {
  background: white;
  max-width: 540px;
  width: calc(100% - 2px);
  border-radius: 3px;
  border: 1px solid rgb(219, 219, 219);
  box-shadow: none;
  display: block;
  margin: 0px 0px 12px;
  min-width: 326px;
  padding: 0px;
}

// promobar
.promobar {
  width: 100%;
  background: #888;
  text-align: center;
  color: #fff;
  font-size: 14px;
  padding: 5px 0;
  text-transform: capitalize;

  @media (max-width: 767px) {
    font-size: 10px;
  }

  p {
    margin-bottom: 0;
  }

  .container {
    max-width: 100%;
    justify-content: center;
  }
}
