@import "_variables.scss";

html,
body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: $black;
  line-height: 24px;
}

::-webkit-scrollbar {
  width: 0.46875rem;
}
::-webkit-scrollbar-thumb {
  background-color: #cacaca;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

h1 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 46px;
  line-height: 65px;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0;

  @media screen and (min-width: 768px) {
    font-size: 46px;
    line-height: 65px;
  }
}

h2 {
  font-family: "Playfair Display", sans-serif;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 1.2;

  @media (min-width: 768px) {
    font-size: 46px;
    line-height: 65px;
  }
}

h3 {
  font-family: "Playfair Display", sans-serif;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0;

  @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: 48px;
  }
}

h4 {
  font-family: "Playfair Display", sans-serif;
  font-size: 18px;
  // line-height: 48px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0;
  font-weight: 700;
}

a:hover {
  text-decoration: none;
}

main {
  padding-top: $menuPadding;
}

.biggerSide {
  @media (min-width: 768px) {
    max-width: 54.65%;
    flex: 0 0 54.65%;
  }
}

.smallerSide {
  @media (min-width: 768px) {
    max-width: 45.35%;
    flex: 0 0 45.35%;
  }
}

// global list stype
.listType-normal {
  padding-left: 20px;
  margin-top: 75px;
  margin-bottom: 50px;
  padding-right: 14%;

  li {
    padding-bottom: 30px;
    line-height: 24px;
  }
}
//

.nav-link {
  color: $white;
  font-family: "Playfair Display", sans-serif;
  text-transform: capitalize;
}

.btn {
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 296px;
  height: 66px;
  text-align: center;
  margin: auto;
  width: 100%;
  font-size: 16px !important;
  line-height: 22px;
  letter-spacing: 0.96px;
  font-weight: 600;
}

.btn-red {
  background-color: $red;
  color: $white;
  text-transform: uppercase;
  opacity: 1;
  border: solid 2px $red;

  &:hover,
  &:active,
  &:focus {
    background-color: $red-dark !important;
    border-color: $red-dark !important;
    color: $white !important;
  }
}

.btn-black-transparent {
  background-color: transparent;
  color: $black;
  text-transform: uppercase;
  border: solid 2px $black;

  &:hover {
    background-color: $red;
    border-color: $red;
    color: $white;
  }
}

.btn-white-transparent {
  background-color: transparent;
  color: $white;
  text-transform: uppercase;
  border: solid 2px $white;

  &:hover {
    background-color: $white;
    color: $black;
  }
}

.btn-small {
  text-align: left;
  font-size: 16px !important;
  line-height: 22px !important;
  letter-spacing: 0.96px;
  max-width: 207px;
  height: 56px;
}

// dropdown menu adjustment
// .dropdown-menu {
//   margin-top: -1px;
//   border-radius: 0px;
// }
// .nav-item:hover .dropdown-menu {
//   display: block !important;
// }
.dropdown-toggle:after {
  display: none !important;
}
.dropdown-menu {
  border-radius: 0 !important;
  border: none;
}
//

// swiper start
.swiper-button-prev,
.swiper-button-next {
  width: 43px;
  height: 61px;
  background: rgba(255, 255, 255, 0.21) 0% 0% no-repeat padding-box;
}

.swiper-button-prev:after {
  content: "";
  background-image: url(../images/left.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 16px;
  height: 35px;
}

.swiper-button-next:after {
  content: "";
  background-image: url(../images/right.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 16px;
  height: 35px;
}

.swiper-pagination-bullet-active {
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1 !important;
}

.swiper-pagination-bullet {
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 0.52;
  width: 6px;
  height: 6px;
  margin: 0 8px !important;
}

// SPECIAL SWIPER
.special-swiper {
  .swiper-button-disabled {
    visibility: hidden;
    opacity: 0;
  }
}

// BEFORE AFTER SWIPER
.before-after-swiper {
  .swiper-pagination {
    bottom: 0 !important;
  }
  .swiper-pagination-bullet-active {
    background: #e8e8e8 0% 0% no-repeat padding-box;
  }

  .swiper-pagination-bullet {
    background: #e8e8e8 0% 0% no-repeat padding-box;
    min-width: 8px;
    min-height: 8px;
    outline: none;
  }

  .swiper-container {
    position: initial;
    padding-bottom: 60px;
  }

  .swiper-button-prev {
    background: transparent !important;
    outline: none;
    left: 0;
  }
  .swiper-button-next {
    background: transparent !important;
    outline: none;
    right: 0;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    display: none;
  }
  svg {
    width: 17px;
    height: 35px;
  }
}


.collapse.show {
  transform:  translateX(0) !important;
}

.navbar-toggler.collapsed {
  div {
    &:first-child {
      transform: rotate(0);
    }

    &:nth-child(2) {
      opacity:  1;
      transform: translateX(0);
    }

    &:nth-child(3) {
      transform: rotate(0);
    }
  }
  
}

@media (min-width: 768px) {
  .special-swiper {
    .swiper-pagination {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .swiper-container {
    padding-bottom: 50px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
  .before-after-swiper {
    .swiper-pagination-bullet {
      background: $grey-light;
      min-width: 6px;
      min-height: 6px;
      outline: none;
    }
    .swiper-container {
      padding-bottom: 30px;
    }
  }
}
// swiper END

// accordion START

// accordion END

@media (max-width: 1599px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 38px;
    line-height: 60px;
  }
  h3 {
    font-size: 30px;
    line-height: 40px;
  }
  .listType-normal {
    margin-top: 45px;
    margin-bottom: 30px;
    padding-right: 15px;
  }

  main {
    padding-top: 60px;
  }
}

@media (max-width: 1200px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  h2 {
    font-size: 35px !important;
    line-height: 1.4 !important;
  }

  .listType-normal {
    padding-right: 0px;
  }

}
