@import "_variables.scss";

.Wrapper {
  .Hero {
    min-height: 450px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;

    .HeroWrapper {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      max-width: 1120px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      position: relative;
      z-index: 3;
      padding-left: 15px;
      padding-right: 15px;

      h1 {
        font-size: 38px;
        line-height: 57px;
        font-weight: 400;
        color: #ffffff;
        text-transform: capitalize;
        text-align: left;
        margin-bottom: 90px;
      }
    }

    .Overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #0000009a;
      z-index: 2;
    }

    .Hatch {
      width: 100%;
      height: 56px;
      position: absolute;
      bottom: -28px;
      right: 0;
      left: 0;
      z-index: 3;
      opacity: 0.64;
      background-image: linear-gradient(
        135deg,
        #ffffff6f 5.56%,
        transparent 5.56%,
        transparent 50%,
        #ffffff6f 50%,
        #ffffff6f 55.56%,
        transparent 55.56%,
        transparent 100%
      );
      background-size: 12.73px 12.73px;
    }

    .ArticleHeaderWrapper {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;
    }
    .ArticleAuthorWrapper {
      margin-bottom: 30px;
    }
    .Author {
      text-align: left;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      font-style: italic;
      letter-spacing: 0px;
      color: #ffffff;
    }

    .Term {
      font-size: 14px;
      text-align: left;
      letter-spacing: 0.7px;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 700;
      display: flex;
      flex-direction: column;
      padding-right: 30px;

      a {
        color: #ffffff;

        &:hover {
          color: $red;
        }
      }
    }
  }

  .Main {
    max-width: 920px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;

    .Date {
      padding-bottom: 50px;
    }

    .Content {
      h2 {
        text-align: left;
        font-weight: 400;
        font-size: 24px !important;
        color: #000000;
        text-transform: capitalize;
        margin-bottom: 30px;
      }

      a,
      a span {
        color: #3897f0;
        font-weight: 600 !important;
      }
    }

    .SingleNextPrev {
      color: $black;

      svg {
        margin-top: -2px;
      }
    }
  }
}

@media (max-width: 767px) {
  .Wrapper {
    .Hero {
      min-height: 264px;

      h1 {
        margin-bottom: 50px !important;
        font-size: 20px !important;
        line-height: 30px !important;
      }

      .Author {
        font-size: 12px;
        color: #ffffff;
      }
  
      .Term {
        font-size: 12px;
      }

      .Hatch {
        display: none;
      }
    }
  }
}
