@import "../../../styles/_variables";

.Section {
  background-color: #161616;
  color: $white;
  text-align: left !important;
  padding-top: 100px;
  padding-bottom: 100px;

  .Title {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      line-height: 1.4 !important;
      text-align: left;
      font-size: 34px;
      margin-bottom: 60px;

      font-family: "Playfair Display", serif !important;
      font-weight: 700 !important;
      letter-spacing: 0 !important;
      text-transform: none !important;
    }
  }

  .Text {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 60px;
  }

  .Container {
    .Row {
      align-items: center;

      .TextSide {
        max-width: 590px;
        padding-left: 50px;
        margin-left: auto;

        .Btn {
          margin-left: 0;
        }
      }

      .SwiperSide {
        padding-right: 0px;

        .SwiperSlide {
          position: relative;

          @media (min-width: 768px) {
            max-width: 454px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .Btn_bottom {
    display: none !important;
  }
}

@media (max-width: 1599px) {
  .TextSide {
    // .Title {
    //   h1,
    //   h2,
    //   h3,
    //   h4,
    //   h5,
    //   h6,
    //   p {
    //     font-size: 37px !important;
    //     line-height: 35px !important;
    //     margin-bottom: 50px !important;
    //   }
    // }
    .Text {
      font-size: 18px !important;
    }
  }
}

@media (max-width: 991px) {
  .TextSide {
    .Title {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        font-size: 35px !important;
        line-height: 40px !important;
        margin-bottom: 20px !important;
      }
    }
    .Text {
      font-size: 16px !important;
      margin-bottom: 20px !important;
    }
  }
}

@media (max-width: 767px) {
  .Section {
    padding-top: 70px;
    padding-bottom: 60px;

    .SwiperSide {
      padding-right: 15px !important;
    }
  }
  .TextSide {
    padding-left: 15px !important;

    .Title {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        font-size: 21px !important;
        line-height: 1.7 !important;
        margin-bottom: 35px !important;
      }
    }
    .Text {
      font-size: 16px !important;
      line-height: 22px !important;
      margin-bottom: 50px !important;
    }
  }
  .Btn {
    display: none !important;
  }
  .Price {
    font-size: 35px !important;
  }
  .Btn_bottom {
    margin-top: 50px !important;
    font-size: 14px !important;
    height: 50px;
  }
  .Gimg {
    min-height: 380px;
  }
}
