@import "../../../styles/_variables";

.Section {
  .PlayerWrapper {
    position: relative;
    // padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
    // padding-top: 46.25%;
    padding-top: 36.25%;

    .ReactPlayer {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.Col {
  padding: 0;

  .Title {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      font-family: "Playfair Display", serif !important;
      font-size: 46px !important;
      line-height: 54px;
      font-weight: 700 !important;
      letter-spacing: 0 !important;
      text-align: center !important;
      line-height: 43px !important;
      text-transform: none !important;

      position: absolute;
      left: 0;
      right: 0;
      top: 15%;
      z-index: 3;
      color: $white;
      max-width: 1100px;
      margin: auto;
    }
  }

  .Icon {
    max-width: 65px;
    width: 100%;
    transition: ease-in-out 0.3s;

    &:hover {
      transform: scale(1.11);
    }
  }
}

@media (max-width: 1599px) {
  .Section {
    .PlayerWrapper {
      padding-top: 36.25%;
    }
  }
}

@media (max-width: 767px) {
  .Section {
    .Title {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        font-size: 28px !important;
      }
    }

    .PlayerWrapper {
      padding-top: 108%;
    }
  }
}
