@import "../../../styles/_variables";

// mobile - mostly, getting used to it
.Section {
  background-color: $black;
  color: $white;

  .Container {
    .Row {
      .TextSide {
        padding-top: 120px;
        padding-bottom: 120px;

        .TextSideWrapper {
          max-width: 953px;
          padding-right: 12%;
          padding-left: 35px;
          margin-left: auto;

          h2 {
            font-size: 70px;
            margin-bottom: 40px;
            text-align: left;
            text-transform: capitalize;
          }

          .ButtonsWrpper {
            display: flex;
            justify-content: flex-start;

            a {
              margin-right: 40px;
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .TextSide {
    padding-top: 70px !important;
    padding-bottom: 70px !important;

    .TextSideWrapper {
      padding-right: 5% !important;
    }

    h2 {
      font-size: 60px !important;
    }
  }
}

@media (max-width: 767px) {
  .Row {
    flex-direction: column-reverse;
  }
  .TextSide {
    padding-top: 40px !important;
    padding-bottom: 40px !important;

    .TextSideWrapper {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }

    h2 {
      font-size: 35px !important;
    }
  }

  .ImageSide {
    min-height: 260px;
  }

  .ButtonsWrpper {
    justify-content: center!important;
    flex-direction: column;
    align-items: center;

    a {
      max-width: 296px;
      margin: auto!important;

      &:first-child {
        margin-bottom: 30px!important;
      }
    }
  }
}
