@import "../../../styles/_variables";

// mobile - mostly, getting used to it
.Section {
  background-color: #161616;
  color: $white;

  .Title {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      font-family: "Playfair Display", serif !important;
      font-size: 46px !important;
      font-weight: 700 !important;
      letter-spacing: 0 !important;
      text-align: left !important;
      text-transform: none !important;
      line-height: 1.2 !important;
      margin-bottom: 60px;
      text-transform: capitalize;
    }
  }

  .Text {
    margin-bottom: 50px;
  }


  ul {
    padding-left: 20px;
    margin-top: 75px;
    margin-bottom: 50px;
    padding-right: 14%;

    li {
      padding-bottom: 30px;
      line-height: 24px;
    }
  }

  .Container {
    .Row {
      .TextSide {
        padding-top: 120px;
        padding-bottom: 120px;

        .TextSideWrapper {
          max-width: 953px;
          padding-right: 12%;
          padding-left: 35px;
          margin-left: auto;

          .ButtonsWrpper {
            display: flex;
            justify-content: flex-start;

            a {
              margin-right: 40px;
              margin-left: 0;
              max-width: 300px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1599px) {
  .TextSide {
    padding-top: 70px !important;
    padding-bottom: 70px !important;

    .TextSideWrapper {
      padding-right: 5% !important;
    }

    ul {
      margin-top: 45px;
      margin-bottom: 30px;
      padding-right: 15px;
    }
  }
}

@media (max-width: 767px) {
  .Section {
    .Title {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        font-size: 35px !important;
      }
    }

    .Row {
      flex-direction: column-reverse;
    }
    .TextSide {
      padding-top: 40px !important;
      padding-bottom: 40px !important;

      .TextSideWrapper {
        padding-right: 0 !important;
        padding-left: 0 !important;
      }

      ul {
        padding-right: 0px;
      }
    }

    .ImageSide {
      min-height: 260px;
    }

    .ButtonsWrpper {
      justify-content: center !important;
      flex-direction: column;
      align-items: center;

      a {
        max-width: 296px;
        height: 50px;
        margin: auto !important;

        &:first-child {
          margin-bottom: 30px !important;
        }
      }
    }
  }
}
