.Section {
  .Title {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      font-family: "Playfair Display", serif !important;
      font-size: 32px !important;
      line-height: 43px !important;
      font-weight: 700 !important;
      letter-spacing: 0 !important;
      margin-bottom: 0px !important;
      margin-top: 50px !important;
      text-transform: none !important;
      text-align: center !important;
    }
  }

  .Subtitle {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      font-family: "Playfair Display", serif !important;
      font-size: 24px !important;
      line-height: 32px !important;
      font-weight: 700 !important;
      letter-spacing: 0 !important;
      margin-bottom: 25px !important;
      text-transform: none !important;
      text-align: left !important;
    }
  }


  ul {
    padding-left: 20px;
    padding-top: 15px;

    li {
      margin-bottom: 30px;
    }
  }

  .Row {
    margin-top: 45px;
  }

  .ImageSide {
    min-height: 390px;
  }

  .TextRight {
    .TextSide {
      max-width: 840px;
      padding-left: 35px;
      width: 100%;
      margin-left: auto;
      padding-right: 7%;
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  .TextLeft {
    .TextSide {
      max-width: 840px;
      padding-right: 35px;
      width: 100%;
      margin-right: auto;
      padding-left: 7%;
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  .TextSideWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .buttonsWrapper {
    margin-top: 30px;
    a {
      margin-left: 0;
    }
  }
  .RowsWrapper {
    padding-top: 35px;
    padding-bottom: 80px;
  }
}

@media (max-width: 767px) {
  .Section {

    .Title {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        font-size: 22px !important;
        line-height: 33px !important;
        margin-bottom: 0px !important;
        margin-top: 50px !important;
        text-transform: none !important;
      }
    }

    .Subtitle {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        font-size: 18px !important;
        line-height: 28px !important;
        margin-bottom: 40px !important;
      }
    }


    .ImageSide {
      min-height: 203px;
    }
    .RowsWrapper {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .TextSide {
      padding-left: 15px !important;
      padding-right: 15px !important;

      padding-top: 35px !important;
      padding-bottom: 35px !important;
    }
    .Row {
      margin-top: 0 !important;
    }

    .TextRight {
      display: flex;
      flex-direction: column-reverse;
    }

    .buttonsWrapper {
      a {
        height: 50px;
        font-size: 14px !important;
        max-width: 256px;
        margin: auto;
      }
    }
  }
}
