@import "../../styles/_variables";
.Container {
  max-width: 1140px;
}
.Section {
  background-color: #161616;
  padding-top: 120px;
  padding-bottom: 40px;
  color: $white;

  .Title {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: $white;
      font-size: 42px !important;
      margin-bottom: 40px;
      line-height: 1.4;
    }
  }

  .InnerTitles {
    h2 {
      margin-bottom: 50px;
    }
    p {
      text-align: center;
      padding-bottom: 50px;
    }
  }
}

@media (max-width: 1599px) {
  .Section {
    padding-top: 105px;

    h2 {
      font-size: 42px;
      margin-bottom: 80px;
    }

    .Form___formSubmit {
      margin-top: 50px !important;
    }
  }
}
@media (max-width: 767px) {
  .Section {
    padding-top: 50px;
    padding-bottom: 25px;


    .Title {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        font-size: 32px !important;
        margin-bottom: 30px;
      }
    }

    h2 {
      margin-bottom: 30px;
    }
  }
}
