@import "../../styles/_variables";
.Container {
  max-width: 1140px;
}
.Section {
  background-color: $black;
  padding-top: 70px;
  padding-bottom: 40px;
  color: $white;

  .Localspecific {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      font-family: Roboto, sans-serif !important;
      font-size: 28px !important;
      text-align: center !important;
      color: #ffffff;
      margin-bottom: 30px !important;
      letter-spacing: 0 !important;
      text-transform: none !important;
      font-weight: 500 !important;
      line-height: 1.2 !important;

      a {
        color: #ffffff !important;
        transition: .3s;

        &:hover {
          color: #9C1A3B !important;
        }
      }
    }
  }

  h2 {
    color: $white;
    font-size: 57px;
    text-transform: capitalize;
    margin-bottom: 100px;
  }
}

@media (max-width: 1599px) {
  .Section {
    padding-top: 105px;
    padding-bottom: 80px;

    h2 {
      font-size: 42px;
      margin-bottom: 80px;
    }

    .Form___formSubmit {
      margin-top: 50px !important;
    }
  }
}
@media (max-width: 767px) {
  .Section {
    padding-top: 50px;
    padding-bottom: 25px;
    margin-top: 30px;

    h2 {
      margin-bottom: 30px;
    }

    h5 {
      text-align: center;
      font-size: 18px;
    }
  }
}
