@import "../../styles/_variables";

.Form {
  display: flex;
  flex-wrap: wrap;

  &___group {
    margin-bottom: 2rem;
    position: relative;
  }
  &___formControl {
    background-color: transparent !important;
    border-radius: 0;
    border: none;
    border-bottom: solid 1px #e8e8e8;
    color: $white !important;
    font-size: 16px !important;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.96px;

    &::placeholder {
      font-size: 16px !important;
      font-weight: 600;
      font-family: "Open Sans", sans-serif;
      letter-spacing: 0.96px;
      color: $white;
    }

    &:focus {
      box-shadow: none;
    }

    option {
      color: $black;
    }
  }
  &___formSubmit {
    margin-top: 70px;
  }

  select {
    background-image: url(../../images/shevron-down.svg);
    background-position: center right 15px;
    background-size: 18px;
    background-repeat: no-repeat;

    appearance: none;
  }

  .ErrorField {
    border-color: $red;
  }

  .ErrorMessage {
    margin: 0;
    position: absolute;
    top: -15px;
    color: $red !important;
    right: 0;
    font-size: 15px;
  }

  .Checkbox {
    input {
      width: 16px;
      height: 16px;
      margin-top: 0.25rem;
    }
  }
}

.NotificationBlock {
  margin-top: 30px;
  min-height: 50px;
}



.ErrorBlock {
  text-align: center;
  color: $red !important;
}

.SuccessBlock {
  text-align: center;
  color: $green !important;
}

.FormColumn {
  width: 50%;
  padding: 0 4.6%;
}

// type of column styles. on sidenav blog page exmpl
.NotificationBlockType {
  margin-top: 15px;
  font-size: 12px !important;
}
.FormColumnType {
  width: 100%;
  padding: 0;
  > div {
    margin-bottom: 25px;
  }
}
.ButtonColumnType {
  margin-top: 30px;
  height: 50px;
}

.FormColumnFull {
  width: 100%;
  padding: 0 4.6%;
}
@media (max-width: 1599px) {
  .Form___formSubmit {
    margin-top: 50px !important;
  }
}
@media (max-width: 767px) {
  .Form___formSubmit {
    margin-top: 15px !important;
    max-width: 100%;
    height: 50px;
    font-size: 14px !important;
  }

  .FormColumn,
  .FormColumnFull {
    width: 100% !important;
    padding: 0 !important;
  }
}
