@import "../../styles/_variables";
.Container {
  max-width: 1140px;
}
.Section {
  background-color: $black;
  padding-top: 155px;
  padding-bottom: 120px;
  color: $white;



  h2 {
    color: $white;
    font-size: 57px;
    text-transform: capitalize;
    margin-bottom: 50px;
  }
}

@media (max-width: 1599px) {
  .Section {
    padding-top: 105px;
    padding-bottom: 80px;

    h2 {
      font-size: 42px;
      margin-bottom: 80px;
    }

    .Form___formSubmit {
      margin-top: 50px !important;
    }
  }
}
@media (max-width: 767px) {
  .Section {
    padding-top: 50px;
    padding-bottom: 50px;

    h2 {
      margin-bottom: 30px;
    }
  }
}
