@import "../../../styles/_variables";

.Section {
    padding-top: 110px;
    h2 {
        font-size: 42px;
        line-height: 1.2;
    }

    .TitlesWrapper {
        padding-bottom: 100px;
    }
}
.AccordionWrapper {
    max-width: 920px;
    margin-right: 0;
    margin-left: auto;
}

.Question {
    .Card {
        border: none;
    }

    .Header {
        border: none;
        background-color: transparent;

        font-family: 'Playfair Display';
    }
}
