.Section {
  height: 100vh;
  @media (max-width: 768px) {
    height: 100%;
  }

  .myContainer {
    // padding: 5rem 0rem 0rem;
    height: 100%;
  }
  .myRow {
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .Title {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      font-family: "Playfair Display", serif !important;
      font-size: 32px !important;
      font-weight: 700 !important;
      letter-spacing: 0 !important;
      text-align: left !important;
      margin-bottom: 50px !important;
      line-height: 43px !important;
      text-transform: none !important;
    }
  }
  // .ImageSide {
  //   padding-top: 40%;
  // }

  .TextSide {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
      margin-bottom: 50px;
      text-align: left;
    }

    .buttonsWrapper {
      display: flex;
      justify-content: left;
      margin-top: 50px;

      a {
        margin: 0 35px 0 0;
      }
    }

    .TextSideWrapper {
      max-width: 860px;
      margin-right: auto;
      padding-left: 10%;
    }

    ul {
      margin-bottom: 0;
      padding-left: 20px;

      li {
        padding-bottom: 20px;
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}

@media (max-width: 767px) {
  .Section {
    .Title {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        font-size: 20px !important;
        line-height: 30px !important;
        margin-bottom: 40px !important;
      }
    }

    .ImageSide {
      min-height: 248px;
    }

    .TextSide {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .TextSideWrapper {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .buttonsWrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      a {
        margin: 0 !important;

        &:nth-child(1) {
          margin-bottom: 30px !important;
        }
      }
    }

    ul {
      li {
        font-size: 14px !important;
        line-height: 21px;
      }
    }
  }
}
