@import "../../../styles/_variables";

.Section {
  background: linear-gradient(90deg, $white 50%, #161616 50%);
  padding-top: 80px;
  padding-bottom: 80px;

  .Container {
    max-width: 1712px;
  }

  .InsideWrapper {
    max-width: 556px;
    margin: 0 auto;
  }

  .RightSide {
    color: $white;
    text-align: center;

    h2 {
      font-size: 52px;
      line-height: 1.4;
      margin-bottom: 50px;
    }

    p {
      margin-bottom: 50px;
    }
  }
  .SwiperSlideInside {
    max-width: 500px;
    margin: 40px auto 0px;

    .ReviewText {
      font-family: "Playfair Display", serif;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      color: #000000;
      font-style: italic;
    }

    .ReviewRaiting {
      font-weight: 600;
      font-style: 24px;
      color: #000000;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .ReviewAuthor {
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
      border-bottom: solid 1px #e8e8e8;
      border-top: solid 1px #e8e8e8;
      max-width: 377px;
      margin: 30px auto 0px;

      span {
        color: #c6c6c6;
      }
    }
  }
}

@media (max-width: 1599px) {
  .Container {
    max-width: 1340px;
  }
}

@media (max-width: 767px) {
  .Section {
    background: none;
    padding-bottom: 0;
    padding-top: 50px;

    .RightSide {
      padding-top: 50px;
      padding-bottom: 50px;
      background-color: #161616;

      a {
        max-width: 296px;
        height: 50px;
        margin: auto !important;
      }
    }

    .LeftSide {
      padding-bottom: 30px;
    }
    .SwiperSlideInside {
      .ReviewText {
        font-size: 14px !important;
        line-height: 18px !important;
      }
    }
  }
}
