@import "../../../styles/_variables";

.Section {
  background: linear-gradient(90deg, $white 50%, #161616 50%);
  padding-top: 80px;
  padding-bottom: 80px;

  .Container {
    max-width: 1712px;
  }

  .InsideWrapper {
    max-width: 556px;
    margin: 0 auto;
  }

  .Title {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      font-family: "Playfair Display", serif !important;
      font-size: 46px !important;
      line-height: 54px !important;
      font-weight: 700 !important;
      letter-spacing: 0 !important;
      text-align: center !important;
      text-transform: none !important;
      max-width: 432px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .RightSide {
    color: $white;
    text-align: center;
    display: flex;
    align-items: center;

    .Title {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        color: $white;
        margin-bottom: 50px;
      }
    }

    p {
      margin-bottom: 50px;
    }
  }

  .SwiperSlideInside {
    max-width: 500px;
    margin: 40px auto 0px;

    .ReviewText {
      font-family: "Playfair Display", serif;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      color: #000000;
      font-style: italic;
    }

    .ReviewRaiting {
      font-weight: 600;
      font-style: 24px;
      color: #000000;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .ReviewAuthor {
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
      border-bottom: solid 1px #e8e8e8;
      border-top: solid 1px #e8e8e8;
      max-width: 377px;
      margin: 30px auto 0px;

      span {
        color: #c6c6c6;
      }
    }
  }
}

@media (max-width: 1599px) {
  .Container {
    max-width: 1340px;
  }
}

@media (max-width: 767px) {
  .Section {
    background: none;
    padding-bottom: 0;
    padding-top: 50px;

    .Title {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        max-width: 343px;
        font-size: 35px !important;
        line-height: 1.4 !important;
        margin-bottom: 0;
      }
    }

    .RightSide {
      padding-top: 50px;
      padding-bottom: 50px;
      background-color: #161616;

      .Title {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
          margin-bottom: 50px;
        }
      }

      a {
        max-width: 296px;
        height: 50px;
        margin: auto !important;
      }
    }

    .LeftSide {
      padding-bottom: 30px;
    }
    .SwiperSlideInside {
      .ReviewText {
        font-size: 14px !important;
        line-height: 18px !important;
      }
    }
  }
}
