@import "../../styles/_variables.scss";

.Footer {
    background-color: $darkblue;

    &_container {
        color: #ffffff;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }
}
