@import "../../styles/_variables";

.Section {
  h3 {
  }

  .Title {
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      font-family: "Playfair Display", serif !important;
      font-size: 32px !important;
      line-height: 43px !important;
      font-weight: 700 !important;
      letter-spacing: 0 !important;
      text-align: center !important;
      margin-bottom: 50px !important;
      text-transform: none !important;
      color: $white;
    }
  }

  .Content {
    color: $white;
    max-width: 830px;
    margin: auto;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
  }

  .Inner {
    padding-top: 120px;
    padding-bottom: 120px;
    position: relative;
    z-index: 2;
  }

  .Overlay {
    background-color: $black;
    opacity: 0.65;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
  }
}

@media (max-width: 767px) {
  .Section {
    .Inner {
      padding-top: 90px;
      padding-bottom: 90px;
    }
    h3 {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 40px;
    }

    .Title {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        font-size: 24px !important;
        line-height: 30px !important;
        margin-bottom: 40px !important;
      }
    }
  

    .Content {
      font-size: 14px;
      line-height: 21px;
    }
  }
}
