.Section {
  padding-top: 120px;
  padding-bottom: 48px;
  padding-left: 25px;
  padding-right: 25px;

  .Container {
    max-width: 1712px;
  }

  .Title {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      font-family: "Playfair Display", serif !important;
      font-size: 32px !important;
      line-height: 43px !important;
      font-weight: 700 !important;
      letter-spacing: 0 !important;
      text-align: center !important;
      margin-bottom: 20px !important;
      text-transform: none !important;
    }
  }


  .TextSideWrapper {
    max-width: 914px;
    margin: auto;
  }

  .Content2 {
    text-align: left;
    margin-top: 70px;
    margin-bottom: 50px;

    ul {
      padding-left: 0;
      margin-bottom: 20px;
      list-style: none;
      columns: 2;
      margin-top: 30px;

      li {
        font-size: 18px;
        line-height: 24px;
        padding-right: 20px;
        letter-spacing: 0;
        opacity: 1;
        margin-bottom: 40px;

        // strong {
        //   display: block;
        // }
      }
    }
  }

  .Content {
    margin-top: 60px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .Section {
    padding-top: 80px;
    padding-bottom: 25px;
    padding-left: 0;
    padding-right: 0;


    .Title {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        font-size: 20px !important;
        line-height: 30px !important;
      }
    }
    
    .Content2 {
      p {
        text-align: center;
      }

      ul {
        columns: 1;

        li {
          font-size: 14px;
          margin-top: 30px;
        }
      }

      > ol {
        display: block;
        list-style: none;
        columns: unset;
        padding: 0;

        > li {
          width: 100%;
          padding-right: 0px;

          p {
            text-align: left !important;
            margin: 0;
          }

          > ul {
            columns: 1;
            margin-top: 0;
          }
        }
      }
    }


    .Content {
      margin-top: 40px;
    }
  }
}
