.Section {
  padding-top: 120px;
  padding-bottom: 48px;
  padding-left: 25px;
  padding-right: 25px;

  .Container {
    max-width: 1712px;
  }

  h3 {
    margin-bottom: 20px;
  }

  .TextSideWrapper {
    max-width: 914px;
    margin: auto;
  }

  .Content2 {
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;

    > ol {
      display: flex;
      list-style: none;
      columns: 1;
      padding: 0;


      > li {
        width: 50%;
        padding-right: 40px;

        > ul {
          columns: 1;
        }
      }
    }

    ul {
      padding-left: 20px;
      margin-top: 10px;
      margin-bottom: 20px;
      list-style: disc;
      columns: 2;

      li {
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        letter-spacing: 0;
        // color: #000000;
        opacity: 1;
        margin-top: 30px;
      }
    }
  }

  .Content {
    margin-top: 60px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .Section {
    padding-top: 80px;
    padding-bottom: 25px;
    padding-left: 0;
    padding-right: 0;

    .Content2 {
      p {
        text-align: center;
      }

      ul {
        columns: 1;

        li {
          font-size: 14px;
          margin-top: 30px;
        }
      }

      > ol {
        display: block;
        list-style: none;
        columns: unset;
        padding: 0;
  
        > li {
          width: 100%;
          padding-right: 0px;

          p {
            text-align: left !important;
            margin: 0;
          }
  
          > ul {
            columns: 1;
            margin-top: 0;
          }
        }
      }
  
    }

    h3 {
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 30px;
    }

    .Content {
      margin-top: 40px;
    }
  }
}
