@import "../../styles/_variables";

.Section {
  position: relative;
  background: linear-gradient(90deg, #161616 50%, $grey-mid 50%);
  overflow: hidden;

  .Title {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Playfair Display", serif !important;
      font-size: 32px !important;
      line-height: 43px !important;
      font-weight: 700 !important;
      letter-spacing: 0 !important;
      text-align: left !important;
      margin-bottom: 50px !important;
      text-transform: none !important;
    }
    margin-bottom: 20px;
  }

  ul {
    padding-left: 0;
    list-style: none;
    margin-top: 40px;
    li {
      padding-bottom: 30px;
    }
  }

  .Container {
    max-width: 1712px;
  }

  .LeftSide {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 7%;
    padding-left: 40px;
    background-color: #161616;
    color: $white;

    a {
      color: #e8e8e8;
    }
  }

  .RightSide {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 40px;
    padding-right: 7%;
    background-color: $grey-mid;

    a {
      color: #000000;
    }
  }

  a {
    font-size: 22px;
    line-height: 35px;
    text-decoration: underline;
    letter-spacing: 0;
    display: block;
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
  }

  .ListContent {
    display: grid;
    grid-template-columns: 170px 2fr;
    grid-template-rows: auto;
    grid-template-areas:
      "image heading heading"
      "image ph ph"
      "image ph ph";
      margin-bottom: 20px;

    h5:first-child {
      //   float: left;
      grid-area: image;
      margin-right: 20px;
      display: block;
    }

    h5:nth-child(2) {
      grid-area: heading;
    }
    p {
      grid-area: ph;
    }
  }
}

@media (max-width: 767px) {
  .Section {
    position: relative;
    background: unset;

    .ListContent {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        h5 {
            margin-right: 0 !important;
        }
    }

    .Title {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-size: 24px !important;
        line-height: 36px !important;
        margin-bottom: 40px !important;
      }
    }

    .MobileCenter {
      text-align: center !important;

      .Title {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          text-align: center !important;
        }
      }
    }

    .Hatch {
      display: none;
    }
    .Hatch2 {
      display: block !important;
    }

    .RightSide,
    .LeftSide {
      padding-top: 80px;
      padding-bottom: 80px;
      padding-left: 15px !important;
      padding-right: 15px !important;
    }

    ul {
      margin-top: 40px !important;
    }
  }
}
