.Section {
  .Title {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      font-family: "Playfair Display", serif !important;
      font-size: 32px !important;
      line-height: 43px !important;
      font-weight: 700 !important;
      letter-spacing: 0 !important;
      text-align: left !important;
      margin-bottom: 60px !important;
      text-transform: none !important;
    }
  }

  .Col {
    min-height: 700px;
  }
  .TextSide {
    display: flex;
    align-items: center;

    .TextSideWrapper {
      // max-width: 700px;
      max-width: 840px;

      padding-left: 25px;
      width: 100%;
      margin-right: auto;
      padding-left: 6%;
    }

    ul {
      padding-left: 20px;
      li {
        padding-bottom: 20px;
        font-weight: 600;
      }
    }
  }
}

@media (max-width: 1599px) {
  .Section {
    .TextSideWrapper {
      max-width: 700px;
    }
  }
}

@media (max-width: 767px) {
  .Section {
    .Title {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        font-size: 24px !important;
        line-height: 36px !important;
        margin-bottom: 40px !important;
      }
    }

    .Col {
      min-height: 204px !important;
    }
    .TextSide {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .TextSideWrapper {
      padding: 0 !important;
    }
  }
}
