@import "../../../styles/_variables";

// mobile - mostly, getting used to it
.Section {
  padding-top: 50px;
  padding-bottom: 0 ;

  .Title {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Playfair Display", serif !important;
      font-size: 35px !important;
      font-weight: 700 !important;
      letter-spacing: 0 !important;
      text-align: left !important;
      margin-bottom: 50px !important;
      line-height: 43px !important;
      text-transform: none !important;
      text-align: center !important;
    }

    p {
      text-align: center;
      max-width: 1100px;
      margin: 0 auto 40px;
    }
  }

  .Container {
    max-width: 1752px;
    padding-right: 35px;
    padding-left: 35px;

    .Row {
      .ServicesWrapper {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        padding-right: 0;

        .SingleService {
          position: relative;
          width: 50%;
        }

        .BtnWrapper {
          display: flex;
          justify-content: center;
          flex-direction: column-reverse;
          width: 50%;
        }

        .Btn {
          text-align: center;
          font-size: 12px !important;
          max-width: 155px;
          height: 50px;
          padding: 10px;
          margin: 10px auto;

          h3 {
            font-family: "Roboto", sans-serif;
            font-size: inherit !important;
            margin: 0;
          }
        }

        .TitleService {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 8px;
          margin: auto;
          color: $white;
          text-transform: capitalize;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

// desktop
@media screen and (min-width: 768px) {
  .Section {
    padding-top: 100px;
    padding-bottom: 100px;

    .Title {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-size: 48px !important;
      }
    }

    .Container {
      .Row {
        .ServicesWrapper {
          // padding-top: 55px;
          padding-left: 15px;
          padding-right: 15px;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-template-rows: auto auto;
          column-gap: 34px;

          .SingleService {
            text-align: center;
            width: 100%;
          }

          .BtnWrapper {
            grid-column: 1/6;
            grid-row: 2;
            display: flex;
            justify-content: center;
            flex-direction: row;
            width: 100%;
          }

          .Btn {
            max-width: 296px;
            height: 66px;
            text-align: center;
            // width: 100%;
            font-size: 16px !important;
            margin: 80px 10px 0;
          }

          .TitleService {
            position: relative;
            font-size: 22px;
            text-align: center;
            text-transform: capitalize;
            color: $black;
            display: block;
          }
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .Section {
    .TitleService {
      font-size: 18px;
    }
  }
}
@media (min-width: 1200px) {
  .Section {
    .TitleService {
      font-size: 24px;
    }
  }
}

@media (max-width: 1599px) {
  .Section {
    padding-top: 70px;
    padding-bottom: 70px;

    .Title {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-size: 38px !important;
        margin-bottom: 40px !important;
      }
    }
  }
}

@media (max-width: 1200px) {
  .Section {
    .TitleService {
      font-size: 18px !important;
      line-height: 1.2;
    }

    .ServicesWrapper {
      column-gap: 0 !important;
      
    }

    .Container {
      .Row {
        .ServicesWrapper {
          .Btn {
            max-width: 226px;
            height: 50px;
            text-align: center;
            font-size: 14px !important;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .Section {
    padding-bottom: 0 !important;
    .Container {
      .Row {
        .ServicesWrapper {
          .Btn {
            max-width: 155px;
            font-size: 12px !important;
          }
        }
      }
    }
  }

  .Container {
    padding-right: 15px !important;
    padding-left: 15px !important;

    .Section {
      padding-bottom: 0 !important;
    }

    .ServicesWrapper {
      .TitleService {
        background-color: #00000044;
      }
    }
  }
}
