@import "../../styles/_variables";

.Section {
  background-color: #161616;
  color: $white;
  padding-top: 100px;
  padding-bottom: 60px;

  .Title {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      font-family: "Playfair Display", serif !important;
      font-size: 32px !important;
      font-weight: 700 !important;
      letter-spacing: 0 !important;
      text-align: left !important;
      line-height: 43px !important;
      text-transform: none !important;
      margin-bottom: 0.5rem;
    }
  }

  .SlideTitle {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      font-family: "Roboto", sans-serif;
      font-size: 18px !important;
      font-weight: 500 !important;
      letter-spacing: 0 !important;
      text-align: left !important;
      line-height: 24px !important;
      text-transform: none !important;
      margin-bottom: 20px !important;
    }
  }

  svg path {
    fill: $white;
  }

  .Titles {
    margin-bottom: 50px;
  }

  .SwiperSlide {
    margin-right: 20px;
    max-width: 45%;
    background-color: transparent;
  }

  .SwiperWrapper {
    padding-right: 0px;
    padding-left: 8%;
  }

  .InsideSlider {
    position: relative;
    padding-top: 56.25%;
  }

  .Inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 767px) {
  .Section {
    padding-top: 40px;
    padding-bottom: 25px;

    .Title {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        font-size: 22px !important;
        line-height: 30px !important;
      }
    }

    .SlideTitle {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        font-size: 12px !important;
        line-height: 17px !important;
        margin-bottom: 15px !important;
      }
    }

    .Titles {
      padding-left: 15px;
      margin-bottom: 36px;
    }

    .SwiperWrapper {
      padding-left: 15px;
    }

    .SwiperSlide {
      margin-right: 7px;
      max-width: 77%;
    }
  }
}
